wilt_env/
wilt_env_keep/

src/*
!src/distances.py
!src/distill.py
!src/interpret.py
!src/path.py
!src/tree.py
!src/utils.py
!src/visualize.py

test/*
!test/conftest.py
!test/test_distances.py
!test/test_distill.py
!test/test_tree.py
!test/test_visualize.py

data/
rslt/
anlys/
expt/
gnn/
dis_mx/

__pycache__/
.mypy_cache/
.pytest_cache/

paper/

gcn_mean/
gcn_sum/