wilt_env/

src/*
!src/distance.py
!src/distill.py
!src/interpret.py
!src/path.py
!src/tree.py
!src/utils.py

test/*
!test/conftest.py
!test/test_distances.py
!test/test_distill.py
!test/test_tree.py

data/
expt/
gnn/
rslt/

__pycache__/
.mypy_cache/
.pytest_cache/

paper/
